<form method="post">
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <button type="submit">Login</button>
    <p>@ViewBag.Error</p>
</form>
<a href="/Login/Register">Register</a>